<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TorboFile.Properties.CustomSearch" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TorboFile.Properties.FolderCleanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TorboFile.Properties.Sorting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TorboFile.Properties.FindEmpty" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TorboFile.Properties.FindDuplicates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TorboFile.FindDuplicates" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TorboFile.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TorboFile.Properties.CustomSearch>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="saveLastDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recursive" serializeAs="String">
                <value>False</value>
            </setting>
        </TorboFile.Properties.CustomSearch>
        <TorboFile.Properties.FolderCleanSettings>
            <setting name="recursive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="moveToTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="confirmDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveLastDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hasDeleteRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hasPreserveRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deleteRange" serializeAs="String">
                <value />
            </setting>
            <setting name="preserveRange" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteEmptyFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </TorboFile.Properties.FolderCleanSettings>
        <TorboFile.Properties.Sorting>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="autoPlayVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastSortingSet" serializeAs="String">
                <value />
            </setting>
            <setting name="confirmDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveToTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveLastDirectory" serializeAs="String">
                <value>True</value>
            </setting>
        </TorboFile.Properties.Sorting>
        <TorboFile.Properties.FindEmpty>
            <setting name="recursive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="moveToTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="confirmDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveLastDirectory" serializeAs="String">
                <value>True</value>
            </setting>
        </TorboFile.Properties.FindEmpty>
        <TorboFile.Properties.FindDuplicates>
            <setting name="recursive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="moveToTrash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="includeExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="excludeExtensions" serializeAs="String">
                <value />
            </setting>
            <setting name="useSizeRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maxSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rememberExtensions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="confirmDelete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showFilePreviews" serializeAs="String">
                <value>True</value>
            </setting>
        </TorboFile.Properties.FindDuplicates>
        <TorboFile.Properties.Settings>
            <setting name="rememberDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="saveLastView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastView" serializeAs="String">
                <value />
            </setting>
            <setting name="lastViewSize" serializeAs="String">
                <value />
            </setting>
        </TorboFile.Properties.Settings>
    </userSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>